<launch>

<!-- 1、加载手持雷达模型 -->
  <param name="robot_description" textfile="$(find rplidar_s1_detect)/urdf/S1_HAND_HELD.urdf" />

<!-- 2、开启关节和机器人状态节点 -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!-- 3、开启激光雷达 -->
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  	<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  <!-- 串口名称 -->
  	<param name="serial_baudrate"     type="int"    value="256000"/>
  	<param name="frame_id"            type="string" value="laser_link"/>
  	<param name="inverted"            type="bool"   value="false"/>
  	<param name="angle_compensate"    type="bool"   value="true"/>
  	<param name="angle_start"         type="double" value="0"  />   <!-- 扫描起始角度 60-->
  	<param name="angle_end"           type="double" value="360"/>   <!-- 扫描结束角度 120-->
    	<remap from="/scan" to="/scan"/>  <!-- 雷达 topic 名称 -->
  </node>

<!-- 4、加载地图服务 -->
   <include  file= "$(find rplidar_s1_detect)/launch/map_server.launch"/>

<!-- 5、启动cartographer 纯定位 lua文件不一样-->
  <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
        args="-configuration_directory $(find rplidar_s1_detect)/config -configuration_basename s1_location_catergrapher.lua" output="screen">  <!-- 内含有TF，需要和URDF模型保持一致-->
        <remap from="imu" to="/imu"/>
        <remap from="scan" to="/scan"/>
  </node> 

<!-- 6、启动amcl -->
   <include  file= "$(find rplidar_s1_detect)/launch/amcl_catergrapher.launch"/>

<!-- 7、catergrapher里程计 tf转换topic -->
  <node pkg="rplidar_s1_detect" type="odom_catergrapher" name="odom_catergrapher" />

<!-- 7、axis转pointcloud -->
  <!--<node pkg="rplidar_s1_detect" type="pointcloud_to_map" name="pointcloud_to_map" />-->


<!-- 00、开启RVIZ --> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_s1_detect)/config/laser.rviz" />

</launch>


